<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!-- jQuery library (served from Google) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- bxSlider Javascript file -->
		<script src="bxslider/jquery.bxslider.min.js"></script>
		<!-- bxSlider CSS file -->
		<link href="bxslider/jquery.bxslider.css" rel="stylesheet" />
	</head>
	<body>
		<div>
			<div class="wrapper_header">
				<div class="wrapper_content">
					<div class="wrapper_top">
						<a href="login.html"><span>Login</span></a>
						<a href="register.html"><span>Register</span></a>
						<a href="#none"><span>English</span></a>
					</div>
					<div class="wrapper_logo">
						<a href="index.html"><span>Logo</span></a>
					</div>
					<div class="wrapper_menu">
						<ul>
							<li><a href="index.html"><span>Home</span></a></li>
							<li><a href="#none"><span>Service</span></a></li>
							<li><a href="#none"><span>Place</span></a></li>
						</ul>
					</div>
				</div>				
			</div>
			<div class="wrapper_content_bb">
				<div class="wrapper_content_hh">
					<div class="wrapper_login">	
						<div class="login_left">
							<div><label>User Name </label></div>
							<div><input type="text"/></div>
							<div><label>Password </label></div>
							<div><input type="password"/></div>
							<div><input type="checkbox" /><span>Remember Me</span></div>
							<div><button>Login</button></div>
							<div  style="text-align:right;width:200px;"><span>Register</span></div>
						</div>
						<div class="login_right">
							<div>
								<div><a href="#none" class="fb"><span>FB</span></a></div>
								<div><a href="#none" class="google"><span>Google</span></a></div>
							
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both;"></div>
			<div class="wrapper_footer">
			
			</div>
		</div>
	</body>
	<script>
		$(document).ready(function(){
		  $('.bxslider').bxSlider({
			mode: 'fade',
			pause: 5000,
			speed: 600,
			pager:true,
			autoControls: true,
			autoHover:true,
			auto:true,
			controls:false
		  });
		});
	</script>
</html>