<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!-- jQuery library (served from Google) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- bxSlider Javascript file -->
		<script src="bxslider/jquery.bxslider.min.js"></script>
		<!-- bxSlider CSS file -->
		<link href="bxslider/jquery.bxslider.css" rel="stylesheet" />
	</head>
	<body>
		<div>
			<div class="wrapper_header">
				<div class="wrapper_content">
					<div class="wrapper_top">
						<a href="login.html"><span>Login</span></a>
						<a href="register.html"><span>Register</span></a>
						<a href="#none"><span>English</span></a>
					</div>
					<div class="wrapper_logo">
						<a href="index.html"><span>Logo</span></a>
					</div>
					<div class="wrapper_menu">
						<ul>
							<li><a href="index.html"><span>Home</span></a></li>
							<li><a href="service.html"><span>Service</span></a></li>
							<li><a href="#none"><span>Place</span></a></li>
						</ul>
					</div>
				</div>				
			</div>
			
			
			<div class="wrapper_content_bb">
				<div class="wrapper_content_hh">
					<div class="wrapper_content_tt">
						<a href="#none" class="tt"><span>Service</span></a>
						<a href="#none" class="more"><span>See More</span></a>
					</div>
					<div class="wrapper_content_ct">
						<div class="wrapper_box">
							<a href="#none">
								<div class="wrapper_img"> 
									<img src="images/Hire-a-Chef-Logo-600x338.png" alt="none" width="150" height="100"/>
								</div>
								<div>
									<div class="tt">title</div>
									<div class="phone">phone</div>
									<div class="service">service</div>
								</div>
							</a>
							
						</div>
						<div class="wrapper_box">
							<a href="#none">
								<div class="wrapper_img"> 
									<img src="images/Hire-a-Chef-Logo-600x338.png" alt="none" width="150" height="100"/>
								</div>
								<div>
									<div class="tt">title</div>
									<div class="phone">phone</div>
									<div class="service">service</div>
								</div>
							</a>
							
						</div>
						<div class="wrapper_box">
							<a href="#none">
								<div class="wrapper_img"> 
									<img src="images/Hire-a-Chef-Logo-600x338.png" alt="none" width="150" height="100"/>
								</div>
								<div>
									<div class="tt">title</div>
									<div class="phone">phone</div>
									<div class="service">service</div>
								</div>
							</a>
							
						</div>
						<div class="wrapper_box">
							<a href="#none">
								<div class="wrapper_img"> 
									<img src="images/Hire-a-Chef-Logo-600x338.png" alt="none" width="150" height="100"/>
								</div>
								<div>
									<div class="tt">title</div>
									<div class="phone">phone</div>
									<div class="service">service</div>
								</div>
							</a>
							
						</div>
						<div class="wrapper_box">
							<a href="#none">
								<div class="wrapper_img"> 
									<img src="images/Hire-a-Chef-Logo-600x338.png" alt="none" width="150" height="100"/>
								</div>
								<div>
									<div class="tt">title</div>
									<div class="phone">phone</div>
									<div class="service">service</div>
								</div>
							</a>
							
						</div>
						<div class="wrapper_box">
							<a href="#none">
								<div class="wrapper_img"> 
									<img src="images/Hire-a-Chef-Logo-600x338.png" alt="none" width="150" height="100"/>
								</div>
								<div>
									<div class="tt">title</div>
									<div class="phone">phone</div>
									<div class="service">service</div>
								</div>
							</a>
							
						</div>
						<div class="wrapper_box">
							<a href="#none">
								<div class="wrapper_img"> 
									<img src="images/Hire-a-Chef-Logo-600x338.png" alt="none" width="150" height="100"/>
								</div>
								<div>
									<div class="tt">title</div>
									<div class="phone">phone</div>
									<div class="service">service</div>
								</div>
							</a>
							
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both;"></div>
			<div class="wrapper_footer">
			
			</div>
		</div>
	</body>
	<script>
		$(document).ready(function(){
		  $('.bxslider').bxSlider({
			mode: 'fade',
			pause: 5000,
			speed: 600,
			pager:true,
			autoControls: true,
			autoHover:true,
			auto:true,
			controls:false
		  });
		});
	</script>
</html>