<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/lib/jquery.form.min.js}"></script>
</head>
<body>
	<a th:href="@{/login?redictUrl={redict}(redict=${session.URL_CHANGE_LEANGUAGE})}">Login</a>
	<a th:href="@{/{url}/logout(url=${session.URL_LOCATION_DEFAULT})}">logout</a>
	<a th:href="@{/kh/{url}(url=${session.URL_CHANGE_LEANGUAGE})}">khmer</a>
	<a th:href="@{/en/{url}(url=${session.URL_CHANGE_LEANGUAGE})}">english</a>
	<a th:href="@{/{url}/register(url=${session.URL_LOCATION_DEFAULT})}">Register</a>
	<a th:href="@{/{url}/userinfo/services(url=${session.URL_LOCATION_DEFAULT})}">services</a>
	<div sec:authorize="isAuthenticated()">
	  This content is only shown to authenticated users.
	 	  <div th:text="${session.ENTITY_USER.authorities[0].role_name}">
			a;slkfa
		 </div>
		 <div th:if="${not #lists.isEmpty(session.ENTITY_USER.services)}">
			a;slkfa
		 </div > 
		  <div th:if="${not #lists.isEmpty(session.ENTITY_USER.authorities)}">
			role list
		   <div>
		   		<select>
		   			  <option th:each="service : ${session.ENTITY_USER.services}" th:value="${service.service_cd}" th:text="${service.title}"></option>
		   		</select>
		   		
		   </div>
		 </div >
		 <div th:if="${#lists.size(session.ENTITY_USER.services) < 3}">
		 	Add New
		 </div> 
		 
	</div>
 	<div sec:authorize="hasRole('ROLE_ADMIN')">
	  This content is only shown to administrators.
	</div> 

	<img alt="" th:src="@{/images/profiles/20180515143757630.jpg}" width="50" height="50">
</body> 
</html>