<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/lib/jquery.form.min.js}"></script>
</head>
<body>
	kladfjalkdsjfalk
	<a th:href="@{/{url}/login?redictUrl={redict}(url=${session.URL_LOCATION_DEFAULT},redict=${session.URL_CHANGE_LEANGUAGE})}">Login</a>
	<a th:href="@{/{url}/logout(url=${session.URL_LOCATION_DEFAULT})}">logout</a>
	<a th:href="@{/kh/{url}(url=${session.URL_CHANGE_LEANGUAGE})}">khmer</a>
	<a th:href="@{/en/{url}(url=${session.URL_CHANGE_LEANGUAGE})}">english</a>
	<a th:href="@{/{url}/register(url=${session.URL_LOCATION_DEFAULT})}">Register</a>
	<a th:href="@{/{url}/services(url=${session.URL_LOCATION_DEFAULT})}">services</a>
	<div sec:authorize="isAuthenticated()">
	  This content is only shown to authenticated users.
	 	  <div th:text="${session.ENTITY_USER.password}">
			a;slkfa
		 </div>
		 <div th:if="${not #lists.isEmpty(session.ENTITY_USER.services)}">
			a;slkfa
		 </div > 
		 <div th:if="${#lists.size(session.ENTITY_USER.services) < 3}">
		 	Add New
		 </div> 
	</div>
 	<div sec:authorize="hasRole('ADMIN')">
	  This content is only shown to administrators.
	</div> 
	 <div sec:authorize="hasRole('USER')">
	  This content is only shown to users.
	  <span sec:authentication="principal.services"></span>
	</div> 
	
	<form th:action="@{/{url}/userinfo/serviceNew(url=${session.URL_LOCATION_DEFAULT})}" th:method="POST" id="frm-login" enctype="multipart/form-data"> 
		
		
		<label >Description</label>
		<input type="text" name="description"><br> 
		<input type="submit" value="Insert">
	</form>
	
	
</body> 
</html>