<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
 lkasdjf
 <form th:action="@{/{url}/login(url=${session.URL_LOCATION_DEFAULT})}" method="post">
 <span th:utext="#{label.userName}"></span><input type="text" name="username">
 <span th:utext="#{label.password}"></span><input type="password" name="password">
<a th:href="@{/kh/{url}(url=${session.URL_CHANGE_LEANGUAGE})}">khmer</a>
<a th:href="@{/en/{url}(url=${session.URL_CHANGE_LEANGUAGE})}">english</a>
 
<input type="submit" value="submit">
</form>
</body>
</html>