<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
 lkasdjf
 <form th:action="@{/{url}/login(url=${session.URL_LOCATION_DEFAULT})}" th:method="POST" id="frm-login">
 <span th:utext="#{label.userName}"></span><input type="text" name="username" required="required">
 <span th:utext="#{label.password}"></span><input type="password" name="password" required="required">
 <span ></span><input type="hidden" name="redictUrl" th:value="@{{redict}(redict=${session.URL_REDICT_CHANGE})}">
<a th:href="@{/kh/{url}(url=${session.URL_CHANGE_LEANGUAGE})}">khmer</a>
<a th:href="@{/en/{url}(url=${session.URL_CHANGE_LEANGUAGE})}">english</a>
 
<a href="javascript:" class="btn_login" id="btnLogin">Login</a>
</form>


	<script>
		$(document).ready(function(){
			$('#btnLogin').click(function(){
				$('#frm-login').submit();
			});
			$('#frm-login').submit(function(e) {
				var frm = $('#frm-login');
				e.preventDefault();
				var data = {};

				$.each(this,function(i,v){
					var input = $(v);
					data[input.attr("name")] = input.val();
					delete(data["undefined"])
				});
				console.log(data);
				 $.ajax({
			            type: frm.attr('method'),
			            url: frm.attr('action'),
			            data : data,
			            success : function(json){
			            	console.log(json);
			            	var result = $.parseJSON(json);
			            	if ( result['status'] == '0000'){
			            		window.location.href =  '';//result['result'];
			            	}
			            },
			            error : function(data){
			             	console.log(data);
			            }
			        });
		        
			});
		});
	</script>

</body>
</html>