<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
	kladfjalkdsjfalk
	<a th:href="@{/{url}/login?redictUrl={redict}(url=${session.URL_LOCATION_DEFAULT},redict=${session.URL_CHANGE_LEANGUAGE})}">Login</a>
	<a th:href="@{/kh/{url}(url=${session.URL_CHANGE_LEANGUAGE})}">khmer</a>
	<a th:href="@{/en/{url}(url=${session.URL_CHANGE_LEANGUAGE})}">english</a>
	<a th:href="@{/{url}/register(url=${session.URL_LOCATION_DEFAULT})}">Register</a>
	
</body>
</html>