<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/lib/jquery.form.min.js}"></script>
</head>
<body>
	kladfjalkdsjfalk
	<a th:href="@{/{url}/login?redictUrl={redict}(url=${session.URL_LOCATION_DEFAULT},redict=${session.URL_CHANGE_LEANGUAGE})}">Login</a>
	<a th:href="@{/kh/{url}(url=${session.URL_CHANGE_LEANGUAGE})}">khmer</a>
	<a th:href="@{/en/{url}(url=${session.URL_CHANGE_LEANGUAGE})}">english</a>
	<a th:href="@{/{url}/register(url=${session.URL_LOCATION_DEFAULT})}">Register</a>
	<form th:action="@{/{url}/userinfo/serviceNew(url=${session.URL_LOCATION_DEFAULT})}" th:method="POST" id="frm-login" enctype="multipart/form-data"> 
		
		 <label >Title</label>
		<input type="text" name="title"><br>
		<label >Sub Title</label>
		<input type="text" name="sub_title"><br> 
		<label >Logo</label>
		<input type="file" name="file"><br>
	    <label >Service</label>
		<input type="text" name="service"><br>
		
		<label >Phone Number</label>
		<input type="text" name="phone_nm"><br>
		<label >E mail </label>
		<input type="text" name="email"><br>		
		<label >Address</label>
		<input type="text" name="address"><br>
		<label >Web Site</label>
		<input type="text" name="website"><br>
		<label >Work Time</label>
		<input type="text" name="work_tm"><br>
		<label >Work Day</label>
		<input type="text" name="work_day"><br>		
		<label >Description</label>
		<input type="text" name="description"><br> 
		<input type="hidden"
		name="${_csrf.parameterName}"
		value="${_csrf.token}"/>
		<a href="javascript:" class="btn_login" id="btnSave">Save</a> 
		<input type="submit" value="Insert">
</form>
 <script>
		$(document).ready(function(){
			$('#btnSave').click(function(e){
				//$('#frm-login').submit();
			   var frm = $('#frm-login');
				$("#frm-login").ajaxSubmit({
					url :  frm.attr('action'),
					type: 'POST',
					success:function(data){
						console.log(data);
						//alert(data['msg'])
					}
				})    
				
			});
			 /* $('#frm-login').submit(function(e) {
				var frm = $(this);
				e.preventDefault();
				var data = {};//new FormData($("#frm-login")[0]);

				 $.each(this,function(i,v){
					var input = $(v);
					data[input.attr("name")] = input.val();
					delete(data["undefined"])
				});

				console.log(frm);
				
				$.ajax({
			            type : frm.attr('method'),
			            url  : frm.attr('action'),
			            data : frm,
			            success : function(json){
			            	console.log(json);
			            	if (json['status'] == '9999'){
			            		for(var i=0; i<json['result'].length;i++){
						            
				            	}
			            	}else{
			            		
			            	}
          	
			            },
			            error : function(data){
			             
			            }
			        }); 
		        
			});  */
		});
	</script> 
</body>
</html>